.top-left {
  position: absolute;
  left: 15px;
  top: 15px;
  height: auto;
  width: 250px;
  animation: fade-in 0.5s linear;
}

.bottom-left {
  position: absolute;
  left: 15px;
  bottom: 15px;
  height: auto;
  width: 250px;
  animation: fade-in 0.5s linear;
}

.top-right {
  position: absolute;
  right: 15px;
  top: 15px;
  height: auto;
  width: 250px;
  animation: fade-in 0.5s linear;
}

.bottom-right {
  position: absolute;
  right: 15px;
  bottom: 15px;
  height: auto;
  width: 250px;
  animation: fade-in 0.5s linear;
}

.warning {
  background-color: #449a60;
  color: white;
  animation: fade-in 0.5s linear;
}

.warning .notHeader {
  background-color: #43a964ab;
}

.info {
  background-color: #da822b;
  color: black;
  animation: fade-in 0.5s linear;
}

.info .notHeader {
  background-color: #c3782e9e;
}

.error {
  background-color: #d23a1f;
  color: white;
  animation: fade-in 0.5s linear;
}

.error .notHeader {
  background-color: #982d1a8f;
}

.notHeader {
  width: 100%;
  float: left;
  font-weight: 600;
}

.notBody {
  width: 100%;
  float: left;
  font-weight: normal;
}

.notContainer {
  height: 45px;
  width: 100%;
  position: relative;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  outline: none;
}

.material-icons {
  font-size: 18px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
