.top-left {
  position: fixed;
  left: 15px;
  top: 15px;
  height: auto;
  width: 250px;
}

.bottom-left {
  position: fixed;
  left: 15px;
  bottom: 15px;
  height: auto;
  width: 250px;
}

.top-right {
  position: fixed;
  right: 15px;
  top: 15px;
  height: auto;
  width: 250px;
}

.bottom-right {
  position: fixed;
  right: 15px;
  bottom: 15px;
  height: auto;
  width: 250px;
}

.bottom-left .notContainer,
.top-left .notContainer {
  animation: move-left 0.15s linear;
}

.bottom-right .notContainer,
.top-right .notContainer {
  animation: move-right 0.15s linear;
}


.warning {
  background-color: #449a60;
  color: white;
}

.warning .notHeader {
  background-color: #43a964ab;
}

.info {
  background-color: #da822b;
  color: black;
}

.info .notHeader {
  background-color: #c3782e9e;
}

.error {
  background-color: #d23a1f;
  color: white;
}

.error .notHeader {
  background-color: #982d1a8f;
}



.notHeader {
  width: 100%;
  float: left;
  font-weight: 600;
}

.notBody {
  width: 100%;
  float: left;
  font-weight: normal;
}

.notContainer {
  height: 45px;
  width: 100%;
  position: relative;
  margin: 0 3px;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  outline: none;
}

.material-icons {
  font-size: 18px;
}

@keyframes move-left {
  0% {
    left: -40px;
  }

  97% {
    left: 40px;
  }

  100% {
    left: 0
  }
}

@keyframes move-right {
  0% {
    right: -40px;
  }

  97% {
    right: 40px;
  }

  100% {
    right: 0
  }
}
