<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Let's do some notifications from ashes!</h1>
  <app-notification position="{{ _position }}" category="{{_category}}"></app-notification>
  <div *ngFor="let position of positions">
    <input id="{{ position }}" type="radio" [value]="position" [(ngModel)]="_position" />
    <label for="{{ position }}">{{ position }}</label>
  </div>

  <div *ngFor="let category of categories">
    <input id="{{ category }}" type="radio" [value]="category" [(ngModel)]="_category">
    <label for="{{ category }}">{{ category }}</label>
  </div>
  <button (click)="showNotification()"> Click</button>
</div>

<!-- <router-outlet></router-outlet> -->
